<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a href="https://github.com/DanHodges">
    <span class="mdl-layout-title">{{ site.title }}</span>
    </a>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
  </div>
</header>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
    <a href="http://dan-hodges.com" class="mdl-navigation__link">Home</a>
    <!-- <a href="http://dan-hodges.com/site/2015/12/12/my-journey.html" class="mdl-navigation__link">On Entering the Community</a> -->
    <a href="https://github.com/DanHodges" class="mdl-navigation__link" target="_blank">Github</a>
    <a href="https://drive.google.com/file/d/0B-L-WkpF_XXAdzF4NnlyeVhnZVk/view?usp=sharing" target="_blank" class="mdl-navigation__link">Resume</a>
  </nav>
</div>

